@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --font-size-normal: 1.5rem;
  --font-size-small: 0.875rem;
}

body {
  font-family: "GmarketSansMedium";
  background-color: #5b2386;
  margin: auto;
  text-align: center;
  color: white;
}

.mobile-none {
  display: block;
}
.mobile-block {
  display: none;
}

/* 1만시간의 법칙 타이틀 */
.title-container {
  position: relative;
  margin-top: 120px;
}
.title-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 564px;
  height: auto;
}

/* 메인컨텐츠 */
main {
  margin: 46px auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-size: var(--font-size-normal);
}

/* 인용구 영역*/
.quote-container {
  position: relative;
}
.quote {
  font-family: "OTEnjoystoriesBA";
  font-size: 2.25rem;
  color: #f5df4d;
}

.meaning {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 78px;
}
.meaning img {
  position: absolute;
  top: calc(50% - 18px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.meaning b {
  font-family: "GmarketSansBold";
  font-size: var(--font-size-normal);
}

/* 입력창 영역 */
.input-container {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: var(--font-size-normal);
}

.input-container input {
  width: 228px;
  height: 57px;
  border-radius: 7px;
  border: none;
  text-align: center;
  font-size: var(--font-size-normal);
  padding-top: 5px;
  font-family: "GmarketSansMedium";
  color: #babcbe;
}

.job,
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.time > div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

/* 계산버튼 영역 */
.calculate {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 7px;
}
.calculate > img {
  transform: translateY(24px);
  width: 64px;
  height: 72px;
}

button {
  background: #fcee21;
  color: #5b2386;
  padding: 21px 49px;
  font-size: var(--font-size-normal);
  font-family: "GmarketSansBold";
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

/* 결과영역 */
.result-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}
.value {
  font-size: 4.5rem;
  font-family: "GmarketSansBold";
}

/* 버튼영역 */
.button-wrapper {
  margin-top: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.share > button {
  background-color: white;
}

/* 저작권 */
footer {
  margin: 130px auto;
  margin-bottom: 70px;
}

footer img {
  width: 125px;
  height: auto;
}

footer p {
  margin-top: 20px;
  font-size: 0.75rem;
  font-family: "Noto Sans KR";
  font-weight: 400;
  line-height: 17.38px;
  text-align: center;
}

/* 모달 */
#modal {
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  background-color: #fff;
  border-radius: 30px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px #00000080;
  padding: 76px 0 68px 0;
}

.modal-title {
  font-family: "OTEnjoystoriesBA";
  color: #5b2386;
  text-align: center;
}

.modal-title h2 {
  font-size: 5.625rem;
}
.modal-title span {
  display: inline-block;
}

.modal-title p {
  font-size: 2.25rem;
}

#modal img {
  max-width: 433px;
  height: auto;
  object-fit: contain;
  margin-bottom: 29px;
  margin-bottom: 74px;
}

#close_modal {
  box-shadow: 0px 0px 10px 0px #00000080;
}

/* 노트북 반응형 */
@media (max-width: 1600px) {
  .modal-wrapper {
    height: calc(95vh);
  }
  #modal img {
    max-width: 300px;
    margin-top: 24px;
    margin-bottom: 34px;
  }
}

/* 모바일 반응형 */
@media (max-width: 850px) {
  .mobile-block {
    display: block;
  }
  .mobile-none {
    display: none;
  }

  .title-container {
    margin-top: 47px;
  }
  .title-img {
    max-width: 267px;
    height: auto;
  }
  .clock-img {
    max-width: 125px;
    height: auto;
  }

  main {
    margin-top: 31px;
    font-size: var(--font-size-small);
    gap: 50px;
  }

  .quote {
    font-family: "OTEnjoystoriesBA";
    font-size: 22px;
    color: #f5df4d;
  }
  .meaning,
  .meaning b {
    font-size: var(--font-size-small);
    margin-top: 62px;
  }
  .meaning img {
    top: calc(50% - 5px);
    width: 302px;
  }

  .input-container {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: var(--font-size-small);
  }
  .time {
    display: block;
    margin-bottom: 17px;
  }
  .time > div {
    margin-top: 17px;
  }
  .input-container input {
    width: 156px;
    height: 37px;
    font-size: var(--font-size-small);
    font-family: "GmarketSansMedium";
    color: #babcbe;
  }

  .calculate {
    align-items: end;
    margin-top: 0px;
    row-gap: 6px;
  }
  .calculate > img {
    width: 43px;
    height: 38px;
    transform: translateY(7px);
  }

  button {
    background: #fcee21;
    color: #5b2386;
    padding: 21px 49px;
    font-size: var(--font-size-small);
    font-family: "GmarketSansBold";
    border: none;
    border-radius: 13px;
    cursor: pointer;
  }

  .result-container {
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    row-gap: 17px;
  }
  .result {
    column-gap: 8px;
  }
  .value {
    font-size: var(--font-size-normal);
  }

  .button-wrapper {
    margin-top: 55px;
    gap: 13px;
  }
  .button-wrapper button {
    border-radius: 100px;
    padding: 13px 18px;
  }

  footer {
    margin: 83px auto;
    margin-bottom: 32px;
  }
  footer img {
    width: 91px;
    height: auto;
  }
  footer p {
    margin-top: 17px;
    font-size: 9px;
    line-height: 13.03px;
  }

  .modal-wrapper {
    max-width: 330px;
    max-height: 500px;
    padding: 40px 0;
  }

  .modal-title {
    font-size: 4rem;
  }

  .modal-title span {
    display: none;
  }

  .modal-title p {
    font-size: 2.25rem;
  }

  #modal img {
    max-width: 240px;
  }
}
