@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #f2e9d8;
  --primary-color: #d97652;
  --secondary-color: #263140;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
}

h2 {
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
}

.wrapper {
  max-width: calc(1280px + 40px);
  margin: auto;
  padding: 0 20px;
}

.button {
  background-color: var(--primary-color);
  color: white;
  max-width: 140px;
  padding: 15px 30px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

/* 헤더 */
header {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

header .wrapper {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
.menu .button {
  margin-left: 10px;
}

/* 햄버거버튼  */
#hamburger img {
  width: 24px;
  height: 24px;
}

/* 모바일헤더 */
.nav_mobile_container {
  display: none;
}

#nav_mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%; /* 처음에 화면에서 숨김 */
  width: 100%;
  max-width: 289px;
  height: 100vh;
  background-color: var(--secondary-color);
  color: white;
  z-index: 999;
  padding: 20px;
  transition: right 0.3s ease;
}
#nav_mobile.open {
  right: 0; /* 메뉴가 보이도록 위치 이동 */
}

#close_menu img {
  width: 32px;
  height: 32px;
}

.menu_mobile {
  padding: 66px 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.menu_mobile li:not(:nth-last-of-type(1)) {
  padding-left: 10px;
}
.menu_mobile li:nth-last-of-type(1) {
  margin-top: 20px;
}

/* 메인비주얼 */
#visual {
  background-color: var(--background-color);
}
#visual .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual_title {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.visual_title h2 {
  font-size: 48px;
  line-height: 60.1px;
}
.box-cat {
  width: 415px;
  height: auto;
  object-fit: cover;
  object-position: center 120px;
}

/* 메인컨텐츠 */
main {
  position: relative;
}

main .wrapper {
  margin-bottom: 230px;
}

/* 메인 고양이 이미지,텍스트 */
.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
  padding-top: 80px;
}
.main_content img {
  width: 660px;
  max-height: 390px;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 660px 390px;
  object-position: center center;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}
.main1_title {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main1_title h2 {
  font-size: 36px;
  line-height: 45.07px;
}

/* 타이틀,설명 */
.desc {
  text-align: center;
  padding-top: 120px;
}
.desc h2 {
  font-size: 48px;
  line-height: 60.1px;
  color: var(--primary-color);
}
.desc p {
  margin-top: 40px;
}
.desc p span {
  color: var(--primary-color);
}

/* 고양이 사진들 */
.cat_images {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
}
.cat_images img {
  width: calc(100% / 3 - 20px);
  height: 100%;
  /* max-width: 378px; */
  /* max-width: calc(100 / 3); */
  aspect-ratio: 1;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}

/* 더보기 설명 */
.more {
  max-width: 938px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 90px;
  margin-bottom: 190px;
}
.more .button {
  max-width: 147px;
  height: 50px;
}

/* 고양이배경 */
#subscribe {
  position: relative;
  padding-bottom: 240px;
  width: 100%;
}
#subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/img_5.jpg) center 37% / cover no-repeat;
  opacity: 0.6;
  z-index: -1;
}

/* 구독영역 */
.subscribe_wrapper {
  width: calc(100% - 40px);
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding: 50px;
  background: var(--secondary-color);
  color: white;
  border-radius: 30px;
  z-index: 10;
  transform: translateY(-100px);
}
/* 구독타이틀영역 */
.subscribe_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.subscribe_title h2 {
  font-size: 36px;
  line-height: 45.07px;
}
.subscribe_title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.53px;
  color: var(--background-color);
}
/* 이메일 제출 */
#subscribe_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 50%;
  max-width: 530px;
  border-radius: 60px;
  padding: 5px;
}
.input_email {
  display: flex;
  width: 100%;
}
.input_email img {
  margin: 0 18px 0 28px;
}
.input_email input[type="email"] {
  width: 100%;
}

/* 푸터 */
footer .footer_pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 20px;
}
footer .logo img {
  width: 226px;
  height: auto;
}
.sns {
  display: flex;
  gap: 20px;
}
.sns li a {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #f29d52;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.blog {
  background-image: url(../img/blog.svg);
}
.instagram {
  background-image: url(../img/instagram.svg);
}
.facebook {
  background-image: url(../img/facebook.svg);
}
.youtube {
  background-image: url(../img/youtube.svg);
}

.footer_mobile {
  display: none;
  text-align: right;
}

/* 구독 모달 */
#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: calc(100% - 40px);
  height: 100%;
  max-width: 600px;
  max-height: 400px;
  box-shadow: 0px 0px 30px 0px #00000033;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  padding: 60px 50px 40px 50px;
}

#modal img {
  width: 110px;
  height: auto;
}
#modal h2 {
  margin-top: 12px;
  font-size: 36px;
  line-height: 45.07px;
  color: var(--primary-color);
}
#modal p {
  margin: 24px 0 38px;
}
#modal .button {
  max-width: 189px;
}

/* 탑버튼 */
.top_btn {
  position: fixed;
  right: 20px;
  bottom: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #c4c4c4;
  object-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 999;
}
.top_btn:hover svg path {
  fill: #767676;
}

/* 노트북 반응형 */
@media (max-width: 1200px) {
  .subscribe_wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .subscribe_title,
  #subscribe_form {
    width: 100%;
    max-width: 100%;
  }
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  /* 버튼 공통스타일 */
  .button {
    font-size: 14px;
    line-height: 17.53px;
    padding: 10px 14px;
    max-width: 117px;
  }

  /* 탑버튼 */
  .top_btn {
    display: none;
  }

  /* 헤더 */
  header {
    height: 76px;
  }
  header .wrapper {
    height: 76px;
  }
  header img {
    width: 92px;
  }
  header .menu {
    display: none;
  }

  #nav_mobile {
    display: block;
  }
  .nav_mobile_container {
    display: block;
  }

  /* 메인비주얼 */
  #visual .wrapper {
    display: block;
    padding-top: calc(76px + 46px);
    text-align: center;
  }
  .visual_title {
    align-items: center;
    gap: 30px;
  }
  .visual_title h2 {
    font-size: 24px;
    line-height: 30.05px;
  }
  .visual_title p {
    font-size: 14px;
    line-height: 17.53px;
  }
  .box-cat {
    width: 197px;
    object-position: center 60px;
  }

  /* 메인고양이 이미지 텍스트 */
  .main_content {
    display: block;
    padding-top: 40px;
  }
  .main_content img {
    width: 100%;
  }
  .main1_title {
    gap: 20px;
    margin-top: 40px;
  }
  .main1_title h2 {
    font-size: 24px;
    line-height: 30.05px;
  }

  /* 타이틀 설명 */
  .desc {
    padding-top: 60px;
  }
  .desc h2 {
    font-size: 24px;
    line-height: 30.05px;
  }
  .desc p {
    margin-top: 30px;
  }

  /* 고양이 사진들 */
  .cat_images {
    padding: 40px 0 60px 0;
    overflow: hidden;
    gap: 20px;
    /* 우측 margin을 음수 값으로 설정하여 wrapper 밖으로 튀어나가도록 함 */
    margin-right: -20px;
  }
  .cat_images img {
    width: 260px;
    box-shadow: 10px 10px 20px 0px #00000040;
  }

  /* 더보기 설명 */
  .more {
    flex-direction: column;
    align-items: end;
    padding: 0;
    margin-bottom: 230px;
  }
  .more .button {
    margin-top: 30px;
    height: 40px;
  }

  /* 구독 */
  .subscribe_wrapper {
    padding: 36px 32px;
  }
  #subscribe_form {
    display: block;
    background: none;
  }
  .input_email {
    background-color: white;
    border-radius: 60px;
    padding: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.02px;
  }
  .input_email img {
    margin: 0 14px 0 4px;
    width: 18px;
  }
  #open_modal {
    float: right;
    margin-top: 20px;
  }

  /* 푸터 */
  footer .wrapper {
    display: flex;
    align-items: stretch;
    padding: 30px 20px;
  }
  footer .footer_pc {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 58px;
    padding: 0;
  }
  footer .footer_pc .logo img {
    width: 112px;
  }

  .sns li a {
    width: 32px;
    height: 32px;
    background-size: 18px;
  }

  .footer_mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.53px;
  }

  /* 구독 모달 */
  #modal {
    padding: 40px 50px 30px;
    width: 300px;
    max-height: 300px;
  }
  #modal img {
    width: 60px;
  }
  #modal h2 {
    font-size: 24px;
    line-height: 30.05px;
  }
  #modal p {
    font-size: 14px;
    line-height: 17.53px;
    margin: 10px 0 28px;
  }
}
